{% load static %}

{% block additional_javscript %}
    <script src="{% static 'js/leaguetable.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="option">
        <input name="forwardButton"
               type="button"
               value="Forward date"
               onclick="LeagueTable.forwardDate()" />
        <input name="backButton"
                   type="button"
                   value="Back date"
                   onclick="LeagueTable.backDate()" />
    </div>

{% endblock %}
